<div class="card--application__header">
  <h4>Northeast 80th Place</h4>
  <h4>Unit 35A</h4>
  <form class="applicant-tabs" action="">
    <span>
      <label class="application-tab" for="name1">Tyrion Lannister</label>
      <input type="radio" id="name1" name="applicant" value="109208">
    </span>
    <span>
      <label class="application-tab" for="name2">Jon Snow</label>
      <input type="radio" id="name2" name="applicant" value="109209">
    </span>
    <span>
      <label class="application-tab" for="name3">Sansa Stark</label>
      <input type="radio" id="name3" name="applicant" value="109210" checked>
    </span>
  </form>
</div>
