<div class="card--application">
  <div class="card--application__header">
    <h4>Northeast 80th Place</h4>
    <h4>Unit 35A</h4>
    <form class="applicant-tabs" action="">
      <span>
        <label class="application-tab" for="name1">Tyrion Lannister</label>
        <input type="radio" id="name1" name="applicant" value="109208">
      </span>
      <span>
        <label class="application-tab" for="name2">Jon Snow</label>
        <input type="radio" id="name2" name="applicant" value="109209">
      </span>
      <span>
        <label class="application-tab" for="name3">Sansa Stark</label>
        <input type="radio" id="name3" name="applicant" value="109210" checked>
      </span>
    </form>
  </div>
  <div class="card--application__applicant" id="109208">
    Some Crap
  </div>
  <div class="card--application__applicant" id="109209">
    Some Ather
  </div>
  <div class="card--application__applicant" id="109210">

    <div class="row applicant-overview">
        <div class="columns six basic-info">
          <img src="https://randomuser.me/api/portraits/med/women/26.jpg" class="user-profile" />
          <div>
            <h4>Sansa Stark</h4>
            <p>email@email.com</p>
            <p>555 555 5555</p>
            <p>21 years old</p>
            <i>icon</i> <a href="#">income verification</a>
          </div>
        </div>
        <div class="columns six credit-summary">
          <span>credit score as of DD.MM.YYY</span>
          <h2 class="good">690</h2>
          <p>N self defined adverse items</p>
          <p>BOOL reported criminal history</p>
        </div>
      </div>

    <hr/>

    <div class="row applicant-section adverse-items">
      <h4>Adverse Items</h4>
      <div class="columns twelve adverse-items__answers">
        <table>
          <thead>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Have you ever declared bankrupcy</td>
              <td>no</td>
            </tr>
            <tr>
              <td>Have you ever been convicted of a felony</td>
              <td>no</td>
            </tr>
            <tr>
              <td>Have you ever been evicted</td>
              <td>no</td>
            </tr>
            <tr>
              <td>Have you ever refused to pay rent</td>
              <td>no</td>
            </tr>
            <tr>
              <td>Do you smoke</td>
              <td>no</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="columns six adverse-items__explanation">No explanation given.</div>
    </div>

    <hr />

    <div class="row applicant-section rental-history">
      <h4>Rental History</h4>
      <div class="row rental-history__item">
        <div class="columns six">
          <p class="label">address</p>
          <p>29901 Southeast 192th Street Maple Valley, MA 19203</p>
          <p class="label">resident period</p>
          <p>December 2012 - Present</p>
          <p class="label">landloard contact information</p>
          <p>Ageon Targaryan<br/>555 555 5555 | email@email.com</p>
          <p class="label">reason for leaving</p>
          <p>conquering westeros</p>
        </div>
        <div class="columns six text-right">
          <p class="reference-status recieved">REFERENCE RECIEVED</p>
          <table>
            <tbody>
              <tr>
                <td>Have rented from you in past</td>
                <td class="answer">yes</td>
              </tr>
              <tr>
                <td>paid rent on time</td>
                <td class="answer">yes</td>
              </tr>
              <tr>
                <td>take care of property while living there</td>
                <td class="answer">yes</td>
              </tr>
              <tr>
                <td>leave property in tidy order when lease was done</td>
                <td class="answer">yes</td>
              </tr>
              <tr>
                <td>Was Disruptive to other tenants or neighbors</td>
                <td class="answer">no</td>
              </tr>
            </tbody>
          </table>
          <div class="reference-custom-message">
            She was an amazing tenant. Would very much recommend.
          </div>
        </div>
      </div>
      <hr />

      <div class="row rental-history__item">
        <div class="columns six">
          <p class="label">address</p>
          <p>29901 Southeast 192th Street Maple Valley, MA 19203</p>
          <p class="label">landloard contact information</p>
          <p>Ageon Targaryan | 555 555 5555 | email@email.com</p>
          <p class="label">reason for leaving</p>
          <p>conquering westeros</p>
        </div>
        <div class="columns six text-right">
          <p class="reference-status not-recieved">REFERENCE REQUESTED</p>
          <table>
            <tbody>
              <tr>
                <td>Have rented from you in past</td>
                <td></td>
              </tr>
              <tr>
                <td>paid rent on time</td>
                <td></td>
              </tr>
              <tr>
                <td>take care of property while living there</td>
                <td></td>
              </tr>
              <tr>
                <td>leave property in tidy order when lease was done</td>
                <td></td>
              </tr>
              <tr>
                <td>Was Disruptive to other tenants or neighbors</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="reference-custom-message">

          </div>
        </div>
      </div>
      <hr />

    </div>

    <hr />

    <div class="row applicant-section employment-history">
      <h4>Employment History</h4>
      <div class="row employment-history__item">
        <div class="columns seven">
          <p class="label">company</p>
          <p>Dragons - R - Us</p>

          <p class="label">position</p>
          <p>CEO</p>

          <p class="label">address</p>
          <p>123 Neverland Lane Portland Or</p>
        </div>
        <div class="columns five text-right employment-history__item--date">
          <p class="label">employment period</p>
          <p>January 2010 - Current</p>
          <p class="label">salary</p>
          <p>$40,000</p>
        </div>
      </div>
    </div>

    <hr />

    <div class="row applicant-section credit-report">
      <h4>Credit Report</h4>
      <div class="row credit-summary">
        <table>
          <thead>
            <tr>
              <th>
                Summary
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Installment Balance</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Real Estate Balance</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Revolving Balance</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Past Due Amount</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Monthly Payment</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Real Estate Payment</td>
              <td>$2,000</td>
            </tr>
            <tr>
              <td>Revolving Available Percent</td>
              <td>$2,000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="credit-account-history">
        <h5>Account History</h5>

        <div class="accounts-wrapper">
          <table class="accounts-table">
            <thead>
              <tr>
                <th>Account Title asdflkjasd fljkas dflkja sdf</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="account-history">
                  <div class="bar">
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="accounts-table">
            <thead>
              <tr>
                <th>Account Title asdflkjasd fljkas dflkja sdf</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="account-history">
                  <div class="bar">
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="accounts-table">
            <thead>
              <tr>
                <th>Account Title</th>
              </tr>
              <tr>
                <th>
                  <ul>
                    <li>Terms</li>
                    <li>Remaining Balance</li>
                    <li class="text-right">$0</li>
                  </ul>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="account-history">
                  <div class="bar">
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month very-late" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                    <span class="month good" data-content="month"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
