<div class="side-menu-button" id="side-menu-btn">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="side-menu closed" id="side-menu">
  <div class="__profile-image"></div>
  <p class="__user-name">Jeff Koons <span>pro</span></p>
  <hr>
  <ul class="__unit-list" id="unit-list">
    <li>
      <a href="#">458 South Shoreline Blvd &rtrif;</a>
      <ul class="unit-menu-items">
        <li><a href="#"><i class="icon"></i><span>Listing</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Applications</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Leases</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Payments</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Mainenance</span></a></li>
      </ul>
    </li>
    <hr>
    <li>
      <a href="#">1223 Jackson Blvd &rtrif;</a>
      <ul class="unit-menu-items">
        <li><a href="#"><i class="icon"></i><span>Listing</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Applications</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Leases</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Payments</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Mainenance</span></a></li>
      </ul>
    </li>
    <hr>
    <li>
      <a href="#">1423 Spaulding Ave &rtrif;</a>
      <ul class="unit-menu-items">
        <li><a href="#"><i class="icon"></i><span>Listing</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Applications</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Leases</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Payments</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Mainenance</span></a></li>
      </ul>
    </li>
    <hr>
    <li>
      <a href="#">458 West Shoreline Blvd &rtrif;</a>
      <ul class="unit-menu-items">
        <li><a href="#"><i class="icon"></i><span>Listing</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Applications</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Leases</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Payments</span></a></li>
        <li><a href="#"><i class="icon"></i><span>Mainenance</span></a></li>
      </ul>
    </li>
    <hr>
  </ul>
</div>
